<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576853652203-qe8ophgfki8s3bp5eilodk5sh4ubbgk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576853652203-qe8ophgfki8s3bp5eilodk5sh4ubbgk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCKkLLiNWHRYbOvlVuH9ZUrckCTaqFbmFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>576853652203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.hackaApp-iOS</string>
	<key>PROJECT_ID</key>
	<string>transform-cycle</string>
	<key>STORAGE_BUCKET</key>
	<string>transform-cycle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576853652203:ios:76e9761664586e6f8c04ae</string>
</dict>
</plist>